# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
%run create_tables.py

In [2]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

In [3]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [4]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [5]:
song_files = get_files('data/song_data')
len(song_files)

71

In [6]:
filepath = song_files[0]
filepath

'/workspace/home/data/song_data/A/B/B/TRABBNP128F932546F.json'

In [7]:
song_df = pd.read_json(filepath, lines = True)
song_df.head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,AR62SOJ1187FB47BB5,NaN,,NaN,Chase & Status,337.68444,1,SOGVQGJ12AB017F169,Ten Tonne,2005

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [8]:
song_data = (song_df[['song_id', 'title', 'artist_id', 'year', 'duration']].values[0]).tolist()
song_data

['SOGVQGJ12AB017F169', 'Ten Tonne', 'AR62SOJ1187FB47BB5', 2005, 337.68444]

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [9]:
cur.execute(song_table_insert, song_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [10]:
artist_data = (song_df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']].values[0]).tolist()
artist_data

['AR62SOJ1187FB47BB5', 'Chase & Status', '', nan, nan]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [11]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [12]:
log_files = get_files('data/log_data')

In [13]:
filepath = log_files[0]
filepath

'/workspace/home/data/log_data/2018/11/2018-11-04-events.json'

In [14]:
log_df = pd.read_json(filepath, lines = True)
log_df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Theodore,M,0,Smith,NaN,free,"Houston-The Woodlands-Sugar Land, TX",GET,Home,1.540306e+12,154,None,200,1541290555796,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,52
1,Professor Longhair,Logged In,Ann,F,0,Banks,214.20363,free,"Salt Lake City, UT",PUT,NextSong,1.540896e+12,124,Mean Ol'World,200,1541292603796,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,99
2,None,Logged In,Jahiem,M,0,Miles,NaN,free,"San Antonio-New Braunfels, TX",GET,Home,1.540817e+12,42,None,200,1541299033796,"""Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537....",43
3,Gary Hobbs,Logged In,Jahiem,M,1,Miles,245.52444,free,"San Antonio-New Braunfels, TX",PUT,NextSong,1.540817e+12,42,En Mi Mundo,200,1541300092796,"""Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537....",43
4,Lifehouse,Logged In,Jahiem,M,2,Miles,203.59791,free,"San Antonio-New Braunfels, TX",PUT,NextSong,1.540817e+12,42,We'll Never Know,200,1541300337796,"""Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537....",43

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [15]:
log_df = log_df[log_df['page'] == 'NextSong']
log_df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
1,Professor Longhair,Logged In,Ann,F,0,Banks,214.20363,free,"Salt Lake City, UT",PUT,NextSong,1.540896e+12,124,Mean Ol'World,200,1541292603796,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,99
3,Gary Hobbs,Logged In,Jahiem,M,1,Miles,245.52444,free,"San Antonio-New Braunfels, TX",PUT,NextSong,1.540817e+12,42,En Mi Mundo,200,1541300092796,"""Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537....",43
4,Lifehouse,Logged In,Jahiem,M,2,Miles,203.59791,free,"San Antonio-New Braunfels, TX",PUT,NextSong,1.540817e+12,42,We'll Never Know,200,1541300337796,"""Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537....",43
5,Olivia Ruiz,Logged In,Jahiem,M,3,Miles,254.74567,free,"San Antonio-New Braunfels, TX",PUT,NextSong,1.540817e+12,42,Cabaret Blanco,200,1541300540796,"""Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537....",43
7,Jordan Rudess,Logged In,Cecilia,F,1,Owens,1367.84934,free,"Atlanta-Sandy Springs-Roswell, GA",PUT,NextSong,1.541032e+12,225,Tarkus,200,1541306152796,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:32.0) G...,6

In [16]:
t = pd.to_datetime(log_df['ts'], unit = 'ms')
t.head()

1   2018-11-04 00:50:03.796
3   2018-11-04 02:54:52.796
4   2018-11-04 02:58:57.796
5   2018-11-04 03:02:20.796
7   2018-11-04 04:35:52.796
Name: ts, dtype: datetime64[ns]

In [17]:
time_data = [t.dt.time, t.dt.hour, t.dt.day, t.dt.week, t.dt.month, t.dt.year, t.dt.weekday]

column_labels = ('timestamp', 'hour', 'day', 'week', 'month', 'year', 'weekday')

In [18]:
time_dict = {}
for c in range(len(column_labels)):
    time_dict[column_labels[c]] = time_data[c]
time_df = pd.DataFrame(time_dict)

time_df.tail()

           timestamp  hour  day  week  month  year  weekday
180  21:01:44.796000    21    4    44     11  2018        6
181  22:56:24.796000    22    4    44     11  2018        6
182  22:58:36.796000    22    4    44     11  2018        6
183  23:02:14.796000    23    4    44     11  2018        6
188  23:45:13.796000    23    4    44     11  2018        6

In [19]:
print(time_df.iloc[91,0])

14:02:17.796000

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [20]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [21]:
user_df = log_df[['userId', 'firstName', 'lastName', 'gender', 'level']]

In [22]:
user_df.head()

  userId firstName lastName gender level
1     99       Ann    Banks      F  free
3     43    Jahiem    Miles      M  free
4     43    Jahiem    Miles      M  free
5     43    Jahiem    Miles      M  free
7      6   Cecilia    Owens      F  free

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [23]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [24]:
#testing the song_select query for 1 line
cur.execute(song_select,(log_df.song[1], log_df.artist[1], log_df.length[1]))
results = cur.fetchone()
print(results)
print(cur.mogrify(song_select, (log_df.song[1], log_df.artist[1], log_df.length[1])))

None
b"SELECT songs.song_id, songs.artist_id FROM songs JOIN artists ON songs.artist_id = artists.artist_id WHERE songs.title = 'Mean Ol''World' AND artists.name = 'Professor Longhair' AND songs.duration = 214.20363"

In [25]:
#Output shows None, None values from the execute statement!!

for index, row in log_df.iterrows():

    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    
    #troubleshooting printing
    print(row.song, '|', row.artist, '|', row.length)
    print(type(row.song), type(row.artist), type(row.length), '\n')

        
    results = cur.fetchone()   
    if index < 5:
        print (results)
        print(cur.mogrify(song_select, (row.song, row.artist, row.length)))
    
    if results:
        songid, artistid= results
    else:
        songid, artistid = None, None
    
    
    #insert songplay record
    songplay_data = (time_df.timestamp[index], row.userId, row.level, songid, artistid, row.sessionId, row.location, row.userAgent)
   
    
    cur.execute(songplay_table_insert, songplay_data)

    #print statement inserted while troubleshooting
    if index < 5:
        print('\n',row.song, songplay_data, '\n')
    conn.commit()

Mean Ol'World | Professor Longhair | 214.20363
<class 'str'> <class 'str'> <class 'float'>

None
b"SELECT songs.song_id, songs.artist_id FROM songs JOIN artists ON songs.artist_id = artists.artist_id WHERE songs.title = 'Mean Ol''World' AND artists.name = 'Professor Longhair' AND songs.duration = 214.20363"

 Mean Ol'World (datetime.time(0, 50, 3, 796000), '99', 'free', None, None, 124, 'Salt Lake City, UT', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')

En Mi Mundo | Gary Hobbs | 245.52444
<class 'str'> <class 'str'> <class 'float'>

None
b"SELECT songs.song_id, songs.artist_id FROM songs JOIN artists ON songs.artist_id = artists.artist_id WHERE songs.title = 'En Mi Mundo' AND artists.name = 'Gary Hobbs' AND songs.duration = 245.52444"

 En Mi Mundo (datetime.time(2, 54, 52, 796000), '43', 'free', None, None, 42, 'San Antonio-New Braunfels, TX', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')

We'll Never Know | Lifehouse | 203.59791
<class 'str'> <class 'str'> <class 'float'>

None
b"SELECT songs.song_id, songs.artist_id FROM songs JOIN artists ON songs.artist_id = artists.artist_id WHERE songs.title = 'We''ll Never Know' AND artists.name = 'Lifehouse' AND songs.duration = 203.59791"

 We'll Never Know (datetime.time(2, 58, 57, 796000), '43', 'free', None, None, 42, 'San Antonio-New Braunfels, TX', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')

Cabaret Blanco | Olivia Ruiz | 254.74567
<class 'str'> <class 'str'> <class 'float'>

Tarkus | Jordan Rudess | 1367.84934
<class 'str'> <class 'str'> <class 'float'>

Weird Era | Deerhunter | 162.08934
<class 'str'> <class 'str'> <class 'float'>

No Surprise | Daughtry | 249.91302
<class 'str'> <class 'str'> <class 'float'>

Club Tropicana | Vinylshakerz | 207.25506
<class 'str'> <class 'str'> <class 'float'>

Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile) | Barry Tuckwell/Academy of St Martin-in-the-Fields/Sir Neville Marriner | 277.15873
<class 'str'> <class 'str'> <class 'float'>

Depot Blues | Son House | 182.43873
<class 'str'> <class 'str'> <class 'float'>

Lucky (Album Version) | Jason Mraz & Colbie Caillat | 189.6224
<class 'str'> <class 'str'> <class 'float'>

Talking In Your Sleep | The Romantics | 233.7171
<class 'str'> <class 'str'> <class 'float'>

Such Great Heights | The Postal Service | 266.47465
<class 'str'> <class 'str'> <class 'float'>

Always Will (LP Version) | Tweet | 281.80853
<class 'str'> <class 'str'> <class 'float'>

Above The Clouds (Edited) | Gang Starr/Inspectah Deck | 225.07057
<class 'str'> <class 'str'> <class 'float'>

Coldest Winter | Kanye West | 164.38812
<class 'str'> <class 'str'> <class 'float'>

Nan Ni Wan | Shunza | 250.93179
<class 'str'> <class 'str'> <class 'float'>

Back In The Day | Erykah Badu | 286.9024
<class 'str'> <class 'str'> <class 'float'>

Vielas De Alfama | Mariza | 239.3073
<class 'str'> <class 'str'> <class 'float'>

Epilogue | Asia 2001 | 150.30812
<class 'str'> <class 'str'> <class 'float'>

Non E_ Per Te_ Per Me | Alejandro Sanz | 230.24281
<class 'str'> <class 'str'> <class 'float'>

Fight For Your Life | The Casualties | 131.23873
<class 'str'> <class 'str'> <class 'float'>

ReprÃÂ©sente | Alliance Ethnik | 252.21179
<class 'str'> <class 'str'> <class 'float'>

Run_ Don't Walk | Hey Monday | 222.98077
<class 'str'> <class 'str'> <class 'float'>

The Door | Silverchair | 213.13261
<class 'str'> <class 'str'> <class 'float'>

Love Always | El DeBarge | 323.47383
<class 'str'> <class 'str'> <class 'float'>

Bring Me To Life | Evanescence | 236.12036
<class 'str'> <class 'str'> <class 'float'>

The Snow Prelude No. 2 | Ludovico Einaudi | 249.02485
<class 'str'> <class 'str'> <class 'float'>

Ayer Me Dijo Un Ave | Caifanes | 210.88608
<class 'str'> <class 'str'> <class 'float'>

Basic Space | The xx | 188.55138
<class 'str'> <class 'str'> <class 'float'>

Big Munny | Swizz Beatz | 213.7073
<class 'str'> <class 'str'> <class 'float'>

Ms. Jackson | OutKast | 239.35955
<class 'str'> <class 'str'> <class 'float'>

The Only One | The Black Keys | 300.30322
<class 'str'> <class 'str'> <class 'float'>

Po' Folks | Nappy Roots [featuring Anthony Hamilton] | 248.00608
<class 'str'> <class 'str'> <class 'float'>

Fool For Your Loving | Whitesnake | 250.3571
<class 'str'> <class 'str'> <class 'float'>

Who Can Compare | Foolish Things | 266.86649
<class 'str'> <class 'str'> <class 'float'>

PrÃÂ³fugos | Soda Stereo | 317.6224
<class 'str'> <class 'str'> <class 'float'>

Home | Edward Sharpe & The Magnetic Zeros | 306.31138
<class 'str'> <class 'str'> <class 'float'>

Dismantle. Repair. | Anberlin | 258.42893
<class 'str'> <class 'str'> <class 'float'>

Shitlist | L-7 | 168.56771
<class 'str'> <class 'str'> <class 'float'>

Fingers Become Thumbs | Future Of The Left | 112.63955
<class 'str'> <class 'str'> <class 'float'>

Call Me | Franz Ferdinand | 206.28853
<class 'str'> <class 'str'> <class 'float'>

Billionaire [feat. Bruno Mars]  (Explicit Album Version) | Travie McCoy | 211.12118
<class 'str'> <class 'str'> <class 'float'>

Smile | Lily Allen | 194.76853
<class 'str'> <class 'str'> <class 'float'>

Fall Back Down (Album Version) | Rancid | 223.65995
<class 'str'> <class 'str'> <class 'float'>

I'm Still Breathing | Katy Perry | 228.49261
<class 'str'> <class 'str'> <class 'float'>

Punks (Krafty Kuts Remix) | Freestylers | 340.06159
<class 'str'> <class 'str'> <class 'float'>

All Summer Long (Album Version) | Kid Rock | 296.95955
<class 'str'> <class 'str'> <class 'float'>

On A Gloomy Evening | LITE | 248.08444
<class 'str'> <class 'str'> <class 'float'>

When You Were Young | The Killers | 220.89098
<class 'str'> <class 'str'> <class 'float'>

Ghost Dream | Hymie's Basement | 175.38567
<class 'str'> <class 'str'> <class 'float'>

Rooftop Gambler | Pavement | 195.73506
<class 'str'> <class 'str'> <class 'float'>

Can't Help But Wait (Album Version) | Trey Songz | 205.81832
<class 'str'> <class 'str'> <class 'float'>

La Pared | Shakira | 159.05914
<class 'str'> <class 'str'> <class 'float'>

Tennessee Waltz (Live) | Billy J Kramer & The Dakotas | 191.32036
<class 'str'> <class 'str'> <class 'float'>

D is for Dangerous | Arctic Monkeys | 138.10893
<class 'str'> <class 'str'> <class 'float'>

Ghost Of A Good Thing | Dashboard Confessional | 224.54812
<class 'str'> <class 'str'> <class 'float'>

Lift Me Up | Moby | 196.75383
<class 'str'> <class 'str'> <class 'float'>

Snookered | Dan Deacon | 483.89179
<class 'str'> <class 'str'> <class 'float'>

Psycho | Puddle Of Mudd | 210.80771
<class 'str'> <class 'str'> <class 'float'>

Snow [Hey Oh] (Album Version) | Red Hot Chili Peppers | 334.65424
<class 'str'> <class 'str'> <class 'float'>

Memphis_ Tennessee | The Barbarians | 149.44608
<class 'str'> <class 'str'> <class 'float'>

Jump (Live) | Julia Fordham | 213.44608
<class 'str'> <class 'str'> <class 'float'>

Streets Of New York (City Life) | Alicia Keys | 455.52281
<class 'str'> <class 'str'> <class 'float'>

Another Town | Regina Spektor | 247.69261
<class 'str'> <class 'str'> <class 'float'>

Well Did You Evah! | Deborah Harry & Iggy Pop | 207.49016
<class 'str'> <class 'str'> <class 'float'>

What's The Difference | Dr. Dre / Eminem / Alvin Joiner | 244.21832
<class 'str'> <class 'str'> <class 'float'>

Advanced (Ton T.B. Mix) | Marcel Woods | 424.33261
<class 'str'> <class 'str'> <class 'float'>

Apologize | OneRepublic | 208.14322
<class 'str'> <class 'str'> <class 'float'>

The Maestro | Beastie Boys | 172.22485
<class 'str'> <class 'str'> <class 'float'>

The Only Exception (Album Version) | Paramore | 267.65016
<class 'str'> <class 'str'> <class 'float'>

Hasta siempre | Varios | 204.64281
<class 'str'> <class 'str'> <class 'float'>

Howlin For You | The Black Keys | 191.76444
<class 'str'> <class 'str'> <class 'float'>

Feeling Good | Muse | 198.79138
<class 'str'> <class 'str'> <class 'float'>

Daddy's Little Girl | Frankie J | 254.32771
<class 'str'> <class 'str'> <class 'float'>

Now Behold The Lamb | Kirk Franklin & The Family | 418.71628
<class 'str'> <class 'str'> <class 'float'>

Make Me Happy | Cooly's Hot Box | 371.06893
<class 'str'> <class 'str'> <class 'float'>

Timeless | Ron Van Den Beuken | 506.5922
<class 'str'> <class 'str'> <class 'float'>

Lost And Found | Sparks | 199.02649
<class 'str'> <class 'str'> <class 'float'>

The Calculation (Album Version) | Regina Spektor | 191.08526
<class 'str'> <class 'str'> <class 'float'>

Rain | Subhumans | 209.37098
<class 'str'> <class 'str'> <class 'float'>

Beautiful Calm Driving | Sia | 302.602
<class 'str'> <class 'str'> <class 'float'>

Lead Me Home | Shadows Fall | 178.65098
<class 'str'> <class 'str'> <class 'float'>

Crack A Bottle | Eminem / Dr. Dre / 50 Cent | 297.56036
<class 'str'> <class 'str'> <class 'float'>

Oxford Comma (Album) | Vampire Weekend | 195.7873
<class 'str'> <class 'str'> <class 'float'>

Guess Who | Eddie Floyd | 198.19057
<class 'str'> <class 'str'> <class 'float'>

If You Want Me (Live) | The Swell Season | 319.13751
<class 'str'> <class 'str'> <class 'float'>

Tonight (Single Mix) | Alex Band | 238.8371
<class 'str'> <class 'str'> <class 'float'>

The Islander | Nightwish | 305.97179
<class 'str'> <class 'str'> <class 'float'>

As Rosas NÃÂ£o Falam | Cartola | 172.12036
<class 'str'> <class 'str'> <class 'float'>

I Think Ur A Contra | Vampire Weekend | 269.16526
<class 'str'> <class 'str'> <class 'float'>

Hassle | Sebadoh | 210.18077
<class 'str'> <class 'str'> <class 'float'>

Wish You Were Here | Incubus | 212.74077
<class 'str'> <class 'str'> <class 'float'>

Allies | Blue States | 239.3073
<class 'str'> <class 'str'> <class 'float'>

Hypnopaedia | Octopus Project | 498.33751
<class 'str'> <class 'str'> <class 'float'>

Cooler Than Me | Mike Posner | 214.7522
<class 'str'> <class 'str'> <class 'float'>

ReprÃÂ©sente | Alliance Ethnik | 252.21179
<class 'str'> <class 'str'> <class 'float'>

Above The Clouds (Edited) | Gang Starr/Inspectah Deck | 225.07057
<class 'str'> <class 'str'> <class 'float'>

Shake Your Head | Was (Not Was) | 239.15057
<class 'str'> <class 'str'> <class 'float'>

Crossfire | 23 Skidoo | 370.88608
<class 'str'> <class 'str'> <class 'float'>

You're The One | Dwight Yoakam | 239.3073
<class 'str'> <class 'str'> <class 'float'>

Obvious Heart | Finger Eleven | 259.68281
<class 'str'> <class 'str'> <class 'float'>

Intoxication | Shaggy | 212.97587
<class 'str'> <class 'str'> <class 'float'>

Up Up & Away | Kid Cudi | 227.34322
<class 'str'> <class 'str'> <class 'float'>

Fairy Tale | Klaus Doldinger's Passport | 460.43383
<class 'str'> <class 'str'> <class 'float'>

None Shall Pass (Main) | Aesop Rock | 245.65506
<class 'str'> <class 'str'> <class 'float'>

Whatta Man (Salt-N-Pepa Featuring En Vogue) (EP Version) | Salt 'n' Pepa with En Vogue | 296.202
<class 'str'> <class 'str'> <class 'float'>

Ghost Tigers Rise (Album Version) | Tiger Army | 129.38404
<class 'str'> <class 'str'> <class 'float'>

Don't Wait For Daylight (Album Version) | NEEDTOBREATHE | 225.82812
<class 'str'> <class 'str'> <class 'float'>

Hard Times (LP Version) | Baby Huey & The Baby Sitters | 194.7424
<class 'str'> <class 'str'> <class 'float'>

Somebody To Love | Justin Bieber | 220.89098
<class 'str'> <class 'str'> <class 'float'>

Walk Like A Woman (Album Version) | David Byrne & Fatboy Slim feat. Charmaine Clamor | 238.65424
<class 'str'> <class 'str'> <class 'float'>

You Belong With Me | Taylor Swift | 230.47791
<class 'str'> <class 'str'> <class 'float'>

Festival (Of 7 Lights) | Ottmar Liebert | 174.54975
<class 'str'> <class 'str'> <class 'float'>

Dynamite! | The Roots | 285.6224
<class 'str'> <class 'str'> <class 'float'>

Learn To Fly | Foo Fighters | 235.28444
<class 'str'> <class 'str'> <class 'float'>

Buzos (En La Luna) | El Hombre Burbuja | 161.33179
<class 'str'> <class 'str'> <class 'float'>

Back To Life (Album Version) | Rock Kills Kid | 271.38567
<class 'str'> <class 'str'> <class 'float'>

Me Quedo Contigo [Si Me Das A Elegir] | Manu Chao | 288.15628
<class 'str'> <class 'str'> <class 'float'>

Nothin' On You [feat. Bruno Mars] (Album Version) | B.o.B | 269.63546
<class 'str'> <class 'str'> <class 'float'>

Naw Meen | Baby Boy Da Prince / Mannie Fresh | 235.2322
<class 'str'> <class 'str'> <class 'float'>

Don't Close The Door | Gerry Rafferty | 224.39138
<class 'str'> <class 'str'> <class 'float'>

Again & Again | the bird and the bee | 165.642
<class 'str'> <class 'str'> <class 'float'>

Sing | Blur | 361.58649
<class 'str'> <class 'str'> <class 'float'>

Juguete De Nadie | Puerto Rican Power | 305.44934
<class 'str'> <class 'str'> <class 'float'>

Blind (Frankie Knuckles Remix) | Hercules And Love Affair | 471.74485
<class 'str'> <class 'str'> <class 'float'>

Kitty Kat | BeyoncÃÂ© | 235.67628
<class 'str'> <class 'str'> <class 'float'>

Pacific Coast Highway | Burt Bacharach | 200.54159
<class 'str'> <class 'str'> <class 'float'>

Be (Intro) | Common | 144.16934
<class 'str'> <class 'str'> <class 'float'>

Can You Tell | Ra Ra Riot | 152.71138
<class 'str'> <class 'str'> <class 'float'>

There For You | Flyleaf | 167.8624
<class 'str'> <class 'str'> <class 'float'>

Danger Bird (Album Version) | Neil Young | 414.69342
<class 'str'> <class 'str'> <class 'float'>

You Already Know What You Are | A Day To Remember | 87.50975
<class 'str'> <class 'str'> <class 'float'>

Sleepin' On My Couch | Del Tha Funkee Homosapien | 199.07873
<class 'str'> <class 'str'> <class 'float'>

La Cachila | Leopoldo Federico | 205.73995
<class 'str'> <class 'str'> <class 'float'>

Do You Remember | Moose | 490.21342
<class 'str'> <class 'str'> <class 'float'>

Knockin' On Heaven's Door | Wyclef Jean | 242.07628
<class 'str'> <class 'str'> <class 'float'>

Coast 2 Coast | Alvin And The Chipmunks | 166.47791
<class 'str'> <class 'str'> <class 'float'>

Who Cares Wins | Anthrax | 458.23955
<class 'str'> <class 'str'> <class 'float'>

Jane Became Insane | Beatsteaks | 177.8673
<class 'str'> <class 'str'> <class 'float'>

Too Drunk Too F**** | Nouvelle Vague | 132.70159
<class 'str'> <class 'str'> <class 'float'>

Divinations (Album Version) | Mastodon | 218.87955
<class 'str'> <class 'str'> <class 'float'>

Sam's Town | The Killers | 245.99465
<class 'str'> <class 'str'> <class 'float'>

Right Through You (LP Version) | Alanis Morissette | 175.82975
<class 'str'> <class 'str'> <class 'float'>

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [26]:
#conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.

In [27]:
%run etl.py
conn.commit()

71 files found in data/song_data
1/71 files processed.
2/71 files processed.
3/71 files processed.
4/71 files processed.
5/71 files processed.
6/71 files processed.
7/71 files processed.
8/71 files processed.
9/71 files processed.
10/71 files processed.
11/71 files processed.
12/71 files processed.
13/71 files processed.
14/71 files processed.
15/71 files processed.
16/71 files processed.
17/71 files processed.
18/71 files processed.
19/71 files processed.
20/71 files processed.
21/71 files processed.
22/71 files processed.
23/71 files processed.
24/71 files processed.
25/71 files processed.
26/71 files processed.
27/71 files processed.
28/71 files processed.
29/71 files processed.
30/71 files processed.
31/71 files processed.
32/71 files processed.
33/71 files processed.
34/71 files processed.
35/71 files processed.
36/71 files processed.
37/71 files processed.
38/71 files processed.
39/71 files processed.
40/71 files processed.
41/71 files processed.
42/71 files processed.
43/71 files processed.
44/71 files processed.
45/71 files processed.
46/71 files processed.
47/71 files processed.
48/71 files processed.
49/71 files processed.
50/71 files processed.
51/71 files processed.
52/71 files processed.
53/71 files processed.
54/71 files processed.
55/71 files processed.
56/71 files processed.
57/71 files processed.
58/71 files processed.
59/71 files processed.
60/71 files processed.
61/71 files processed.
62/71 files processed.
63/71 files processed.
64/71 files processed.
65/71 files processed.
66/71 files processed.
67/71 files processed.
68/71 files processed.
69/71 files processed.
70/71 files processed.
71/71 files processed.
30 files found in data/log_data
1/30 files processed.
2/30 files processed.
3/30 files processed.
4/30 files processed.
5/30 files processed.
6/30 files processed.
7/30 files processed.
8/30 files processed.
9/30 files processed.
10/30 files processed.
11/30 files processed.
12/30 files processed.
13/30 files processed.
14/30 files processed.
15/30 files processed.
16/30 files processed.
17/30 files processed.
18/30 files processed.
19/30 files processed.
20/30 files processed.
21/30 files processed.
22/30 files processed.
23/30 files processed.
24/30 files processed.
25/30 files processed.
26/30 files processed.
27/30 files processed.
28/30 files processed.
29/30 files processed.
30/30 files processed.

In [28]:
#testing the sql query WITHOUT songs.title filter
sql_test = """SELECT songs.song_id, songs.artist_id FROM songs LEFT JOIN artists 
ON songs.artist_id = artists.artist_id WHERE artists.name = 'Chase & Status' AND songs.duration = 337.68444"""
cur.execute(sql_test)
results1 = cur.fetchone()
print(results1)

('SOGVQGJ12AB017F169', 'AR62SOJ1187FB47BB5')

In [29]:
#testing the sql query WITH songs.title filter
sql_test_with_title = """SELECT songs.song_id, songs.artist_id FROM songs JOIN artists
ON songs.artist_id = artists.artist_id WHERE songs.title = 'Ten Tonne' AND artists.name = 'Chase & Status' AND songs.duration = 337.68444"""
cur.execute(sql_test_with_title)
results2 = cur.fetchone()
print(results2)

('SOGVQGJ12AB017F169', 'AR62SOJ1187FB47BB5')

In [30]:
#testing the sql query WITH ONLY songs.title filter
sql_test_with_only_title = """SELECT songs.song_id, songs.artist_id FROM songs JOIN artists
ON songs.artist_id = artists.artist_id WHERE songs.title = 'Ten Tonne'"""
cur.execute(sql_test_with_only_title)
results3 = cur.fetchone()
print(results3)

('SOGVQGJ12AB017F169', 'AR62SOJ1187FB47BB5')

In [32]:
#created a list to put the outputs to isolate it from the main database

song_artist_ids = []
i = 0


for index, row in log_df.iterrows():

    # get songid and artistid from song and artist tables
    cur.execute(song_select2, (row.song,))
    results = cur.fetchone()
    
    if results:
        artistid= results
        songid = None
    else:
        songid, artistid = None, None
    
    #insert songplay record
    song_artist_ids.append([time_df.timestamp[index], row.userId, row.level, songid, artistid, row.sessionId, row.location, row.userAgent])
    cur.execute(songplay_table_insert, song_artist_ids[i])
    i+=1
    
    #print statement inserted while troubleshooting
    if index < 5:
        print(results)
        print(row.song, song_artist_ids[i-1], '\n')
    conn.commit()

None
Mean Ol'World [datetime.time(0, 50, 3, 796000), '99', 'free', None, None, 124, 'Salt Lake City, UT', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0']

None
En Mi Mundo [datetime.time(2, 54, 52, 796000), '43', 'free', None, None, 42, 'San Antonio-New Braunfels, TX', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"']

None
We'll Never Know [datetime.time(2, 58, 57, 796000), '43', 'free', None, None, 42, 'San Antonio-New Braunfels, TX', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"']